#filter {
  background: $grey;
  width: 30%;
  max-width: 35rem;
  padding: 2rem;
  display: inline-block;
  float: left;

  select {
    background: transparent;
    padding: 1rem;
    color: #1b1b1b;
    font-family: inherit;
    display: block;
    margin-bottom: 2.5rem;
    width: 100%;
  }

  h4 {
    margin-bottom: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .filters {
    .title {
      display: block;
      margin-bottom: 1rem;
    }
    input[type="text"] {
      border-radius: 0.5rem;
      padding: 0.4rem;
      width: 45%;
      display: inline-block;
      margin-right: 2.5%;
      margin-bottom: 1rem;
    }

    &.extras {
      label {
        display: block;
        width: 100%;
        padding: 1rem 0;
        input[type="checkbox"] {
          float: right;
        }
      }
    }
  }
}

#listings {
  color: $darkgrey;
  width: 70%;
  float: left;
  padding: 2.5rem;
  background-color: $offwhite;

  .search-area {
    input[type="text"] {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 0.1rem solid $lightgrey;
      margin-bottom: 1rem;
      color: $lightgrey;
    }
  }

  .sort-by {
    margin-bottom: 20rem;

    .results {
      color: $lightgrey;
      display: inline-block;
    }

    .sort-options {
      float: right;

      select {
        border: 0.1rem solid $lightgrey;
        background: transparent;

        display: inline-block;
        margin-right: 1.5rem;
        vertical-align: top;
      }
      .view {
        display: inline-block;

        .fa {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
