$darkpurple: #0c0028;
$grey: #faf7f5;
$lightgrey: #dadde2;
$darkgrey: #adabaa;
$white: #ffffff;
$offwhite: #fffeff;
$pink: #ff718e;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// GLOBAL RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  color: $white;
  line-height: 1.5;
  font-size: 1.3rem;
}
